<%= form_for [@product, Review.new] do |f| %>
  <div class="form-group">
    <%= f.label :rating %><br>
    <%= f.radio_button :rating, '1' %>
    <%= f.radio_button :rating, '2' %>
    <%= f.radio_button :rating, '3' %>
    <%= f.radio_button :rating, '4' %>
    <%= f.radio_button :rating, '5' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div>
    <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
  </div>
  <hr>
<% end %>
